<h1>Add a bookmark</h1>
<form method="post">
  <label for="url">URL:</label><br>
  <input type="text" name="url"><br>
   <label for="name">Name:</label><br>
  <input type="text" name="name"><br>
  <input type="submit" name="submit">
</form>