<h1>Your Bookmarks:</h1>
<a href='/add'>Add Bookmark</a>
<button type="submit" form="edit_bm" formaction="/delete" value="delete">Delete Bookmark</button>

<form id="edit_bm" method="post">
  <% if @bookmarks.empty? %>
    <p>Press 'add' to add a bookmark!</p>
  <% else %>
  <h3>Select bookmarks to edit</h3>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li>
          <input type="checkbox" name='<%= bookmark.alias %>'>
          <a href = <%= bookmark.url %>><%= bookmark.alias %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</form>